@charset "utf-8";
/* style.css　
--------------------------------------------------------- */

html{
    scroll-behavior: smooth;
}

body{
    padding-top: 60px; 
}

/* ナビゲーションバー */
.navbar{
    border-radius: 0px;
    box-shadow: 0px 3px 3px -3px rgba(209, 209, 209, 0.6);
    -webkit-box-shadow: 0px 3px 3px -3px rgba(209, 209, 209, 0.6);
    -moz-box-shadow: 0px 3px 3px -3px rgba(209, 209, 209, 0.6);
}

.navbar-brand{
    font-size: 1.6em;
    font-weight: bold;
}
.scroll{
    background-color: transparent;
    position: relative;
    height: 360px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid #ddd;
    padding: 5px;
}

.image-container {
    position: relative; 
    display: inline-block; 
    width: 100%; 
}
.mainimg {
    width: 100%; 
    height: fill;
    display: block;
}
.mainText {
    position: absolute; 
    top: 50%; /* Adjust the vertical position */
    left: 50%; /* Adjust the horizontal position */
    transform: translate(-50%, -50%); /* Centers the text */
    color: white; /* Makes the text visible on dark images */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* Optional: improves text readability */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
}

h3 {
    margin-top: 50px; /* Adjust based on navbar height */
    scroll-margin-top: 80px; 
}

.card-text{
    font-size: 1em;
    text-align: center;
    display: block;
}
.fuda{
    background-color: rgba(256, 256, 256, 0.9);
    padding: 20px;
    margin: 30px 5px !important;
    border: solid 6px #578FCA;
    border-radius: 10px;
}
.cmn-head{
    font-size: 1.4em;
    font-weight: bold;
    padding: 5px 10px;
    border-left: solid 10px #578FCA;
    width: 100%;
    background:linear-gradient(to right, #A1E3F9 0%, #D1F8EF 100%)
}
.cmn-content{
    padding: 10px;
    letter-spacing: 0.1em;
}
.cmn-img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    box-shadow: 0px 0px white, 0px 3px 10px 3px #6f6f6f;
}
.faq{
    padding: 15px;
}
.faq-q{
    border-left: solid 6px #578FCA;
    padding-left: 10px;
}


/* フッター */
.footer {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #660033;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #fff;
}


